<h1>Admin &raquo; Dashboard</h1>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Type</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to 'Product Counts', controller: 'admin/products' %>
        </td>
        <td>
          <%= @product_count %>
        </td>
      </tr>
      <tr>
        <td>
          Categories Counts
        </td>
        <td>
          <%= @category_list.count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
